@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;500;700;900 & display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row; 
    margin: 0px 270px;
}

.negrita{
    font-weight: 700;
}

.color-grey {
    color: rgba(89,106,118,255);
}

.color-blue {
    color: rgba(29,155,240,255);
}

.color-black {
    color:black;
}
/*-----------------------ASIDE----------------------------------------------*/

.container-aside {
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    gap: 20px;
}

.container-aside img {
    height: 50px;
    width: 50px;
}

.explorar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 19px;
}

.configuracion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}


/*-----------------------MAIN----------------------------------------------*/
.container-main {
    height: 100vh;
    width: 50%;
}
.header {
    background-color: white;
    height: 80px;
    width: 100%;
    border-right: 0.2px solid ;
    border-left: 0.2px solid ;
    border-color: #c3d6e383;
}
.nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.barra-navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 400px;
    border-radius: 20px;
    padding-left: 11px;
    border-color: #c3d6e323;
    background-color: #c3d6e323;
    gap: 20px;
}

.barra-navegacion input {
    background-color: #c3d6e323;
    border: none;
}

.nav-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 15px;
    color: rgba(89,106,118,255);
}
.blue-line {
    display: flex;
    margin-top: 9px;
    margin-left: 14px;
    background-color:rgb(29,155,240,255);
    width: 75px;
    height: 4px;
    border-radius: 20px;
}

.twet-1 {
    height: 170px;
    width: 100%;
    border: 0.2px solid ;
    border-color: #c3d6e383;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}
/*------------------------FINAL DE HEDADER Y COMIENZO DE TWEET 1----------------------------------------*/
.twet-1 button {
    position: absolute;
    right: 15px;
    top: 23px;
    border-radius: 15px;
    background-color: black;
    color: white;
    height: 30px;
    width: 80px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 110px;
    padding: 16px 0px 15px 15px;
}

.left img {
    height: 50px;
    width: 50px;
}
.right {
    padding-top: 20px;
}

.verificacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px
}

.gold {
    color: rgb(218, 185, 2);
}
.surface{
    padding-bottom: 8px;
}
.parrafo-laptop {
    padding-right: 15px;
}
/*------------------------COMIENZO DE TWEET 2----------------------------------------*/
.twet-2 {
    height: 170px;
    width: 100%;
    border-right: 0.2px solid ;
    border-left: 0.2px solid ;
    border-top: 0.2px solid;
    border-color: #c3d6e383;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    gap: 10px;
}

.twet-2 .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80px;
    padding: 16px 0px 15px 15px;
}
.img-ibai {
    border-radius: 30px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-top: 7px;
}

.twet-2 .right {
    padding-top: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.verificacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px
}

.puntos {
    position: absolute;
    top: 20px;
    right: 25px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 6px;
}
.material-symbols-outlined.color-grey.icon-tamanio {
    font-size: 20px;
}
.icons p {
    padding-right: 40px;
    font-size: 14px;
    color:rgb(89,106,118,255);
}

/*------------------------COMIENZO DE TWEET 3----------------------------------------*/

.twet-3 {
    height:516px;
    width: 100%;
    border-right: 0.2px solid ;
    border-left: 0.2px solid ;
    border-top: 0.2px solid;
    border-color: #c3d6e383;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    gap: 10px;
}

.twet-3 .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80px;
    padding: 16px 0px 15px 15px;
}
.img-ibai {
    border-radius: 30px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-top: 7px;
}

.twet-3 .right {
    padding-top: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.verificacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px
}

.puntos {
    position: absolute;
    top: 20px;
    right: 25px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 6px;
}
.material-symbols-outlined.color-grey.icon-tamanio {
    font-size: 20px;
}
.icons p {
    padding-right: 40px;
    font-size: 14px;
    color:rgb(89,106,118,255);
}
.fotos-muebles {
    width: 450px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 10px;
}
.fotos {
    height: 190px;
}
/*-----------------------ARTICLE----------------------------------------------*/
.container-article {
    height: 100vh;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.container-terminos {
    height: 10%;
    width: 80%;
    border-radius: 8px;
    border: 0.2px solid ;
    border-color: #c3d6e383;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-terminos p {
   margin-top: 24px; 
   font-size: 14px;
   padding-left: 10px;

}

.container-filtros {
    height: 40%;
    width: 80%;
    border-radius: 8px;
    border: 0.2px solid ;
    border-color: #c3d6e383;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personas {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.linea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    color: rgba(89,106,118,255);
    font-size: 15px;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.busqueda {
    padding-bottom: 20px;
    font-size: 15px;
}

.container-noticias {
    height: 60%;
    width: 80%;
    border-radius: 8px;
    border: 0.2px solid ;
    border-color: #c3d6e323;
    background-color: #c3d6e323;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personas-noticias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linea-noticias {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.personas-noticias img {
    height: 50px;
    width: 70px;
    border-radius: 13px;
    margin-right: 20px;
}
.more {
    margin-right: 20px;
    color: rgba(89,106,118,255);
}

.mostrar {
    padding-bottom: 20px;
    font-size: 15px;
}